.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-group button {
    width: 98px;
    height: 31px;
    cursor: pointer;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    background-color: #ffffff;
    color: var(--brownish-grey);

}

.btn-active {
    border: 1px solid #1797ff;
}

.btn-inactive {
    border: 1px solid #d6d6d6;
}

.btn-group button:not(:last-child) {
    border-right: none;
}

.btn-group button:first-child {
    border-radius: 2px 0 0 2px;
}

.btn-group button:last-child {
    border-radius: 0 2px 2px 0;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:hover {
    border: 2px solid #1797ff;
}