.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-inactive {
    background-color: #ffffff;
    border: 1px solid #1797ff;
    color: #606060;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
}

.btn-group button:not(:last-child) {
    border-right: none;
}

.btn-group button {
    border: solid 1px #d6d6d6;
}

.btn-group button:first-child {
    border-radius: 10px 0 0 10px;
}

.btn-group button:last-child {
    border-radius: 0 10px 10px 0;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:hover {
    background-color: #1797ff;
}