.news-component {
    content: "";
    display: table;
    clear: both;
    width: 90%;
    height: 5.625rem;
    margin: 2.375rem 2.5rem 1.875rem 0px;
    padding: 0 0 0 1.625rem;
    opacity: 0.8;
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #fff;
}

.news-column {
    float: left;
}

.column-body {
    width: 87.63%;
}

.actions {
    border-radius: 6px;
    border: solid 1px var(--brownish-grey);
    background-color: #F5F5F5;
    width: 12.36%;
    height: 100%
}

.actions button {
    margin-top: 70%;
    border: none;
    background-color: #F5F5F5;
}

.title-row {
    text-align: left;
    font-family: Roboto;
    font-size: 0.875rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.25px;
    color: #828282;
}