.pagination {
    margin-top: 96px;
    margin-bottom: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}

.row>div {
    text-align: center;
}

@media(min-width:900px) {
    .row {
        flex-flow: row wrap;
    }

    .row>.column-left {
        order: 1;
        flex: 0.5;
    }

    .row>.column-right {
        order: 2;
        flex: 0.5;
    }
}

@media(min-width:1200px) {
    .row {
        flex-flow: row nowrap;
    }

    .row>div {
        width: 33.33% !important;
    }

    .row>.column-left {
        order: 1;
    }

    .row>.column-right {
        order: 3;
    }
}

.news-body {
    position: relative;
}

.hidden {
    display: none
}

.news-loading-image {
    position: absolute;
    top: 25;
    right: 43%;
}

.opacity {
    opacity: 0.5;
    pointer-events: none;
}